{% extends "base2.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'category/style.css' %}">
<meta name="images" content="{% static 'media/' %}">
{% endblock css %}
{% block title %} Category {% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container pt-5">
     
            <label for=""><h3>Search Car</h3></label>
            <div class="row">
                <div class="col-12 col-md-7">
                    <input type="text" id="input" name="input" placeholder="Cari Mobil" style="height: 5vh; font-size: 1em; width:100%;"></input>
                </div>
                <div class="col-12 col-md-2 mt-3 mt-md-0">
                    <button type="submit" name="submit" class="btn btn-primary w-100" id="submit">Cari</button>  
                </div>
            </div>
    </div>
</div>

<div class="col-md-7 pt-md-5 p-md-3" style="margin: auto;">
    <div class="p-md-3" id="isi">

    
    </div>
</div>  

{% endblock content %}
{% block js %}
<script src="{% static 'category/jquery-3.5.0.min.js' %}"></script>
<script src="{% static 'category/filejava.js' %}"></script>
<script>
    const cari_url="{% url 'category:cari' %}?q="
</script>
{% endblock %}