.content {
    margin: 5%;
}


.card {
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20em;
    height: fit-content;
}

.card .img-responsive {
    width: 100%;
    height: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.kartu {
    padding: 2px 16px;
}

.upper, .break {
    margin-bottom: 30px;
}