@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: "Poppins";
}

.wrapper {
    min-height: 100vh;
    background-image: url('../images/bg-car.jpg');
    background-size: cover;
    background-position: center;
}

.box {
    padding: 40px 20px 20px 20px;
    background-color: rgba(255,255, 255, .98);
    box-shadow: 2px 2px 3px #aaaaaa;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 400px;
}

.title{
    margin-bottom: 50px;
    color: #2F2E41;
    font-weight: 600;
}

.errorlist {
    padding: 0;
    margin: 0;
}

.errorlist li {
    list-style: none;
}

.btn-auth {
    width: 330px;
    background-color: #0058B9;
    color: white;
    border: none;
    margin-bottom: 10px;
}

.btn-google {
    width: 330px;
    background-color: #0058B9;
    color: white;
    border: none;
    margin-bottom: 10px;
}

@media only screen and (max-width: 430px) {
    .box {
        width: 95vw;
    }
    .btn-auth {
        width: 85vw;
    }
    .btn-google {
        width: 85vw;
    }
}