{% extends "base.html" %}
{% load static %}
{% block css %}
<meta name="url_add" content="{% url 'homepage:addcars' %}">
<meta name="url_del" content="{% url 'homepage:homepage' %}deleteFavCar/">
<meta name="url_get" content="{% url 'homepage:getfavcars' %}">
<meta name="csrf" content="{{ csrf_token }}">
<link rel="stylesheet" href="{% static 'homepage/style.css' %}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
{% endblock css %}
{% block title %}Homepage{% endblock title %}
{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="static/homepage/pic1s.jpg" alt="First slide" width="2vw">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="static/homepage/pic2s.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="static/homepage/pic3s.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="static/homepage/pic4s.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="static/homepage/pic5s.jpg" alt="Third slide">
    </div>


  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container pt-5">
  <div class="col-md-7 pt-5 pl-2">
    <div class="About">
      About Us
    </div>
    <div class="garis"></div>
  </div>
  <div class="col-md-9 pt-5">
    <div class="tulisan">
      A Web that provides a meeting point from a customer who wants to rent their car in the most easiest ways, and to a
      customer who wants to enjoy a rental car for any needs necessary
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="col-md-7 pt-5 pl-2">
    <div class="About">
      Car List
    </div>
    <div class="garis"></div><br>
    <div class="garis2"></div>
  </div>
  <div class="col-md-12 pt-5 pl-2 pb-5 mb-5">
    <div class="row">
      {% for i in mobil %}
      <div class="col-md-4 pt-5">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ i.foto }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{i.nama_mobil}}</h5>
            <p class="card-text">Ave Rp {{ i.harga }} / hari</p>
            {% if user.is_authenticated %}
            <img src="{% static 'homepage/beforeLike.svg' %}" height="30" width="30" class="like-car"
              data-car="{{ i.id }}" id="like-{{ i.id }}">
            <img src="{% static 'homepage/afterLike.svg' %}" height="30" width="30" class="unlike-car"
              data-car="{{ i.id }}" id="unlike-{{ i.id }}">
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="{% static 'homepage/script.js' %}"></script>
  {% endblock content %}