{% extends "base.html" %}
{% load static %}
{% block css %}
<meta name="url_del" content="{% url 'homepage:homepage' %}deleteFavCar/">
<meta name="url_get" content="{% url 'homepage:getfavcars' %}">
<meta name="csrf" content="{{ csrf_token }}">
<link rel="stylesheet" href="{% static 'homepage/style.css' %}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
{% endblock css %}
{% block title %}Homepage{% endblock title %}
{% block content %}
<div class="wrapper p-md-5 p-1">
  <div class="col-md-7 pt-5 pl-2">
    <div class="About">
      Your Favorite Cars
    </div>
    <div class="garis"></div><br>
    <div class="garis2"></div>
  </div>
  <div class="col-md-12 pt-5 pl-2">
    <div class="row fav-cars">
    </div>
  </div>
  
</div>
<script src="{% static 'homepage/script2.js' %}"></script>
{% endblock content %}