.jumbotron {
    background-image: url("./background.jpg");
    background-size: cover;

}

body {
    background: #e4eefa;
}

label {
    color: white;
    font-weight: 700;
}

.card-container {
    padding: 3em;
}

.card-img-top {
    height: 10em;
}

.content {
    min-height: 90vh;
}
