* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto';
    min-height: 100vh;
}

nav {
    min-height: 3.5rem;
}

.content {
    margin-top: 3.5rem;
    min-height: 90vh;
}