{% load static %}
<div class="contact-us d-flex align-items-center" style="background-color: #151515; height: 10rem">
    <div class="d-flex justify-content-between align-items-center container" style="width: 100%;">
        <h4 style="color: white;">CONTACT<br>US</h4>
        <div class="images">
            <a class="px-2" href=""><img height="40px" src="{% static 'images/gmail.svg' %}"></a>
            <a class="px-2" href=""><img height="40px" src="{% static 'images/instagram.svg' %}"></a>
            <a class="px-2" href=""><img height="40px" src="{% static 'images/whatsapp.svg' %}"></a>
        </div>
    </div>
</div>
<footer class="px-5 pt-2 pb-1" style="background-color: black;">
    <h6 class="text-center text-white">Copyright © Car-Easy 2020 All Rigths Reserved</h6>
</footer>