<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light px-5">
  <a class="navbar-brand" href="{% url 'homepage:homepage' %}">Car-Easy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:homepage' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:favcars' %}">Favorite Car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'category:category' %}">Search Car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ulasan:review' %}">Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'article:article' %}">Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'transaction:transaction' %}">Transaction</a>
      </li>  
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link logout-btn" href="{% url 'autentikasi:logoutPage' %}">{{ request.user }} (Logout)</a>
        </li>  
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'autentikasi:loginPage' %}">Login</a>
        </li> 
      {% endif %}
    </ul>
  </div>
</nav>