.About{
	font-size: 2.4em;
	color: black;
}
.garis{
		position: relative;
		height:1vh;
		width: 21vw;
		background-color:black;
	}
.tulisan{
	font-size: 1.9em;
	text-align: justify;
}
.garis2{
		position: relative;
		height:1vh;
		width: 30vw;
		background-color:black;
	}

.like-car {
	cursor: pointer;
}

.unlike-car {
	cursor: pointer;
	display: none;
}
