{% extends "base2.html" %}
{% load static %}
{% block css %}
<meta name="csrf" content="{{ csrf_token }}">
<meta name="url_base" content="{% url 'article:article' %}">
<meta name="url_add" content="{% url 'article:add_review' article.id %}">
<meta name="url_get" content="{% url 'article:get_review' article.id %}">
<link rel="stylesheet" href="{% static 'article/style.css' %}">
{% endblock css %}
{% block title %}Jakarta{% endblock title %}
{% block content %}
<div class="content pt-5">
    <div class="pt-5 row">
        <h1 class="px-2"><span style="color: #9C2208; font-size: larger"><b>{{ article.title }}</b></span><br><i>{{ article.motto }}</i><br><span style="font-size: large">{{ article.author }} | {{ article.date }}</span></h1>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center w-100">
            <img class="img-responsive" src="{{ article.image }}" width="100%" height="auto">
        </div>
        <div class="w-100 break"></div>
        <div class="col-sm">
            <p style="text-align: justify">{{ article.content }}
            </p>
        </div>
    </div>
</div>
<div class="container mt-5" id="Post">
    <h2>Review this article:</h2>
    <div class="col-md-3">
      <div class="form-group">
        <label for="title">Give it score!</label>
        <select class="form-control" id="score">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary mb-4 btn-add-review">Submit</button>
    </div>
  </div>
  <div class="container mb-5">

      <table class="table mb-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <script src="{% static 'article/scripts2.js' %}"></script>
  {% include 'footer.html' %}

{% endblock content %}