{% extends "base2.html" %}
{% load static %}
{% block css %}
<meta name="csrf" content="{{ csrf_token }}">
<meta name="url_get" content="{% url 'article:get' %}">
<meta name="url_add" content="{% url 'article:add' %}">
<meta name="url_base" content="{% url 'article:article' %}">
<link rel="stylesheet" href="{% static 'article/style.css' %}">

{% endblock css %}
{% block title %}Article{% endblock title %}
{% block content %}
<div style="margin-top: 5rem;" class="p-md-5 p-1">
  <div class="p-5 upper">
    <h1><span style="color: #9C2208"><b>Car?</b></span> Check.<br><span style="color: #9C2208"><b>Places to
          visit?</b></span> Don't worry, we've got you covered.</h1>
  </div>
  <div class="">
    <div class="article-container d-flex flex-wrap">
      <!-- Ajax -->
    </div>
    <div class="container mt-5 border-top pt-3" id="Post">
      <h2>Post an Article here:</h2>
      <form method="post">
        <div class="form-group">
          <label for="title">Title</label>
          {{ formulir.title }}
        </div>
        <div class="form-group">
          <label for="motto">Motto</label>
          {{ formulir.motto }}
        </div>
        <div class="form-group">
          <label for="image">Image link</label>
          {{ formulir.image }}
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          {{ formulir.content }}
        </div>
        <button type="submit" id="submit" class="btn btn-primary mb-4 btn-add-article">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>
{% include 'footer.html' %}
{% endblock content %}
{% block js %}
<script src="{% static 'article/scripts.js' %}"></script>
<script>
  $("input").addClass("form-control")
  $("textarea").addClass("form-control")
  $("input").eq(0).attr("placeholder", 'Tittle')
  $("input").eq(1).attr("placeholder", 'Motto')
  $("input").eq(2).attr("placeholder", 'Image Link')
  $("input").eq(3).attr("placeholder", 'Content')
  $("form").submit(function(e) {
    e.preventDefault();
  });

</script>
{% endblock js %}