body {
    height: 100vh; 
}

.header {
    display: none;
    background-color: #3282B8;
}

.header h4 {
    color: white;
}

.form-box {
    background-color: #3282B8;
    color: white;
    height: 95vh;
    width: 25rem;
}

.btn-submit {
    border-radius: 3px;
    width: 100%;
    height: 3em;
    background-color: #0F4C75;
    color: white;
}

.review-box {
    height: 95vh;
    overflow-y: scroll;
    font-size: 1.2vw;
}

.review-box .title {
    width: 10em;
    border-bottom: 2px solid black;
    margin-bottom: 2em;
    font-size: 2em;
}

.card {
    background-color: #6d6d6d;
    height: 13em;
}

.review-box .card .row {
    height: 100%;
}


.card h5 {
    font-size: 1.2em;
}

.person-img {
    width: 100%;
    height: auto;
}   

.person-name {
    color: black;
}

.car-img {
    height: auto;
    width: 100%;
}

.card-in h4 {
    font-size: 1.6em;
}
/* IPAD */
@media only screen and (max-width: 780px) {
    .form-box, .review-box {
        height: 80vh;
    }
}

/* PHONE */
@media only screen and (max-width: 460px) {
    .header {
        display: block;
    }
    .review-box {
        font-size: 2vw;
        height: fit-content;
    }
    .form-box {
        height: fit-content;
    }
    .contact-us {
        height: 8rem !important;
    }
    .contact-us h4 {
        font-size: 1rem;
    }
    .contact-us img {
        width: 2rem;
    }
    footer h6{
        font-size: .7rem;
    }
}
