{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'transaction/style.css' %}">
{% endblock css %}
{% block title %}Transaction{% endblock title %}
{% block content %}
<div class="header">
	<a href="#form-box">
		<h4 class="text-center m-0 py-3"><span style="color:#0F4C75">NEW</span> TRANSACTION</h4>
	</a>
</div>
<div class="row d-flex flex-wrap-reverse">
	<div class="col-12 col-md-5 col-lg-4 form-box p-5" id="form-box">
		<h4 class="text-center mb-5"><span style="color:#0F4C75">NEW</span> TRANSACTION</h4>
		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="mobil">Mobil</label>
				{{ form.mobil }}
			</div>
			<div class="form-group">
				<label for="lamaSewa">LAMA SEWA (HARI)</label>
				{{ form.lamaSewa }}
			</div>
			<div class="form-group">
				<label for="username">TANGGAL SEWA</label>
				{{ form.tanggal }}
			</div>
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn btn-submit mt-4">SUBMIT</button>
			</div>
		</form>
	</div>
	<div class="col-12 col-md-7 col-lg-8 transaction-box p-5 p-md-5">
		<h2 class="title">Latest Transaction</h2>
		{% for i in transaction %}
		<div class="card mb-4">
			<div class="row m-0">
				<div class="col-4 d-flex flex-column justify-content-center align-items-center border-right p-2">
					<img src="{{ i.mobil.foto }}" class="car-img" alt="">
					<h5 class="mt-3 mb-0">{{ i.mobil.nama }}</h5>
				</div>
				<div class="col-8">
					<div class="row">
						<div class="col-6 border-right p-0">
							<h5 class="text-center m-0 card-in d-flex align-items-center pl-3 border-bottom">Username
							</h5>
							<h5 class="text-center m-0 card-in d-flex align-items-center pl-3 border-bottom">Kategori
							</h5>
							<h5 class="text-center m-0 card-in d-flex align-items-center pl-3 border-bottom">Tanggal
							</h5>
							<h5 class="text-center m-0 card-in d-flex align-items-center pl-3">Lama Pinjam</h5>
						</div>
						<div class="col-6 p-0">
							<h5 class="text-center m-0 card-in d-flex align-items-center pl-3  border-bottom">{{ i.username }}</h5>
							<h5 class="text-center m-0 card-in d-flex align-items-center pl-3  border-bottom">{{ i.mobil.kategori }}</h5>
							<h5 class="text-center m-0 card-in d-flex align-items-center pl-3  border-bottom">{{ i.tanggal }}</h5>
							<h5 class="text-center m-0 card-in d-flex align-items-center pl-3 ">{{ i.lamaSewa }} Hari</h5>
						</div>
					</div>
				</div>
			</div>
		</div>	
		{% endfor %}
	</div>
</div>
{% endblock content %}